<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

		<script src="../angular/lib/js/angular.min.js"></script>

		<script src="js/personController.js"></script>
		
		<script src="js/namesController.js"></script>
		
	</head>

	<body ng-app="myApp">

		<hr>

		<div ng-app="myApp" ng-controller="personCtrl">

			First Name: <input type="text" ng-model="firstName"><br> Last Name: <input type="text" ng-model="lastName"><br>
			<br> Full Name: {{firstName + " " + lastName}}

		</div>

		<hr>

		<div ng-app="myApp" ng-controller="namesCtrl">

			<ul>
				<li ng-repeat="x in names">
					{{ x.name + ', ' + x.country }}
				</li>
			</ul>

		</div>
		<hr>

		<p>一个Html页面中只能有一个模块其作用</p>
		<p>一个模块只能引用一次作用，平行的多次引用失效</p>
		<hr>

	</body>

</html>