<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>SPLThird</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>HCome</servlet-name>
		<servlet-class>servlets.PartA.Login.HelloCome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HCome</servlet-name>
		<url-pattern>/tyz.lg</url-pattern>
		<url-pattern>/Jspages/tyzs.lg</url-pattern>
		<url-pattern>/lujin</url-pattern>
		<url-pattern>/lujin/kk.dl</url-pattern>

	</servlet-mapping>
</web-app>